body {
    background-color: #2c7873;
}

header {
    padding: 30px;
    text-align: center;
    font-style: italic;
    font-family: fantasy;
    color: #ffd800;
}

.card {
    padding: 10px;
    margin-left: 5%;
    height: 500px;
    align-items: center;
}

#questions-carousel {
    text-align: center;
    background-color: #6fb98f;
}

.carousel-inner {
    width: 100%;
    height: 460px;
    padding: 20px
}
.carousel-item {
    width: 100%;
    text-align: center;
}

#carousel-footer {
    padding: 5px;
    margin-bottom: 5px
}

.correct {
    color: darkgreen
}

.wrong {
    color: crimson
}

.navbar {
    height: 70px;
    background-color: #004445;
    padding: 10px
}

.category-btn {
    padding: 5px;
}

.game-inst {
    margin-top: 30%
}
.answers-container {
    position: relative;
    bottom: 0;
    right: 0;
    padding: 20px;
    margin-top: 10px
}

