body {
    background-color: honeydew;
}

header {
    padding: 30px;
    text-align: center;
    font-style: italic;
    font-family: fantasy;
    color: teal;
    
}

.card {
    padding: 10px;
    margin-left: 5%;
    height: 500px;
    align-items: center;
}

#questions-carousel {
    text-align: center;
    background-color: lightgray;
}

.carousel-inner {
    width: 100%;
    height: 460px;
    padding: 20px
}
.carousel-item {
    width: 100%;
    text-align: center;
}

.carousel-footer {
    padding: 20px
}

.correct {
    color: darkgreen
}

.wrong {
    color: crimson
}

.answers-container {
    position: relative;
    bottom: 0;
    right: 0;
}

